
* , *::before, *::after {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

:root {
  --sitebar-color: #1992D4;
  --shadow: rgba(0, 0, 0, 0.09) 1px 1px 11px, rgba(0, 0, 0, 0.11) 6px 1px 11px;
}

.Dashboard-container {
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-columns: minmax(250px, 1fr) minmax(100px, 5fr);
  grid-template-rows: 200px 2fr ;
}

.sitebar-container {
  height: 100vh;
  display: flex;
  color: aliceblue;
  background-color: var(--sitebar-color);
  flex-direction: column;
  gap: 2rem;
  padding: 1.2rem;
}


.sitebar-container > div > div{
  display: flex;
  align-items: center;
  padding: 12px 12px 12px 12px; 
  background-color: var(--sitebar-color);

}

.dash-container > div h1{
  color: #fff;
  font-size: 24px;
}

.cont-one :hover{
  border-radius: 6px;
  background-color: #55b3e6;
}

.cont-two :hover{
  border-radius: 6px;
  background-color: #55b3e6;
}

.sitebar-container {
  position: sticky;
  top: 0;
}

.sitebar-container img {
  margin-right: 16px;
}


.sitebar-container p{
  font-size: 16px;
  font-weight: bold;
}

.sitebar-container .dash-container > div{
  color: black;
  font-size: 16px;
  font-weight: bold;
} 

.nav-bar {
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0.2rem 2rem 0.6rem 2rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.09) 1px 1px 11px, rgba(0, 0, 0, 0.11) 6px 1px 11px;
  top: 0px;
  position: sticky;
  z-index: 1;
}

.first-wapper {
  display: grid;
  grid-template-columns: 3fr minmax(250px ,1fr);
}

.first-wapper .search-bar  {
  display: flex;
  column-gap: 16px;
  justify-content: start;
  align-items: center;
}

.first-wapper input {
  display: flex;
  padding-right: 22px;
  border-radius: 21px;
  border: none;
  background-color: whitesmoke;
  width: 70%;
  height: 35px;
  padding: 16px;
}


.first-wapper .noti-bar {
  display: grid;
  grid-template-columns: repeat(1, 1fr 1fr 1fr);
  justify-items: center;
  align-items: center;
}

.first-wapper img {
  border-radius: 31px;

}

.first-wapper p {
  font-size: 16px;
  font-weight: 600;
}

.second-weapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.second-weapper .profile {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.second-weapper img {
  border-radius: 42px;
}

.second-weapper .nav-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

.second-weapper button {
  padding: 10px 16px 10px 16px;
  border-radius: 21px;
  border: none;
  color: white;
  background-color: var(--sitebar-color);
  font-size: 16px;
  font-weight: 500;
}

.cart-container {
  display: grid;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  grid-template-columns: 3fr 1fr;
  padding: 1.2rem;
  padding-top: 2rem;
  background-color: whitesmoke;
  gap: 2rem;
}

/* .project-carts-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 1fr;
} */

.project-carts {
  display: inline-grid;
  grid-template-columns:  repeat(auto-fit, minmax(320px,1fr));
  grid-template-rows: 1fr;
  margin-top: 16px;
  gap: 2rem;
}

.project-carts > div {
  padding: 24px;
  border-radius: 7px;
  background-color: white;
  box-shadow: var(--shadow);
  border-left: 4px solid #F0B429;
  justify-content: stretch;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  24px 1fr 1fr;
}


.card p {
  font-size: 16px;
  color: #6D6D6D;
}


.card > div {
  display: flex;
  justify-content: end;
  column-gap: 24px;
  align-items: end;  
}


.site-cards {
  display: grid;
  grid-template-columns: minmax(250px,1fr);
  grid-template-rows: 1fr;
  margin-top: 16px;
  margin-bottom: 32px;
}

.site-cards .site-firstcard,
.site-secondcard {
  padding: 16px 24px 16px 24px;
  border-radius: 8px;
  background-color: white;
  box-shadow: var(--shadow);
}

.site-firstcard > div {
  padding-top: 14px;
  padding-bottom: 14px;
}

.site-firstcard p {
  color: #6D6D6D;
}

hr {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 21px;
}


.second-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.site-secondcard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1.2rem;
  padding: 24px;
}

.site-secondcard > div {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}

.site-secondcard img {
  border-radius: 32px;
}

.site-secondcard p {
  color: #6D6D6D;
}